<h1><%= l(:import_tasks) %></h1>
<script language="javascript" type="text/javascript">
    function check_box_toggle_field(id, className, prefix, suffix){
        if (!$$)
            return;

        var doc = '<select id="' + id + '">' +
        '<option disabled="disabled" selected="selected">Selections...</option>' +
        '<option>Select all</option>' +
        '<option>Select none</option>' +
        '<option>Invert selection</option>' +
        '</select>';

        if (prefix)
            doc = prefix + doc;
        if (suffix)
            doc = doc + suffix;

        document.write(doc);

        var list = document.getElementById(id);
        if (!list)
            return;

        new SelectionHandler(list, className);
    }

    /* Object which handles selection list changes; by using an object, extra
     * information can be carried through by an event and the EventListener
     * interface.
     */
    function SelectionHandler(list, className){
        this.list = list;
        this.className = className;

        list.addEventListener('change', this, false);
    }

    /* Handle changes in the selection list */

    SelectionHandler.prototype.handleEvent = function(event){
        /* Perform the relevant action on the check boxes */

        $$('input.' + this.className).each(function(box){
            switch (event.currentTarget.selectedIndex) {
                case 1:
                    box.checked = true;
                    break;
                case 2:
                    box.checked = false;
                    break;
                case 3:
                    box.checked = !box.checked;
                    break;
            }
        });

        /* Restore the default selected item in the list */

        event.currentTarget.options[0].selected = true;
    }
</script>
<% form_for( :import, { :url => { :action => 'create' }, :html => { :id => 'import', :multipart => true } } ) do | f | %>
<% if ( @import.nil? or @import.tasks.nil? or @import.tasks.empty? ) -%>
<%# l(:import_description) -%>
<% else -%>
<table border="0" cellspacing="0" cellpadding="2" align="center" class="bulk_task_import">
    <tr valign="middle" align="center" class="info">
        <th>
            &nbsp;UID&nbsp;
        </th>
        <th>&nbsp;Dup&nbsp;</th>
        <th align="left">
            <%= l(:field_subject) %>
        </th>
        <th>
            <%= l(:field_tracker) %>
        </th>
        <th>
            <%= l(:field_start_date) %>
        </th>
        <th>
            <%= l(:field_due_date) %>
        </th>
        <th>
            <%= l(:field_done_ratio) %>
        </th>
        <th>
            <%= l(:field_assigned_to) %>
        </th>
        <th>
          &nbsp;Requires&nbsp;
        </th>
        <th>
          &nbsp;ParentUID&nbsp;
        </th>
        <th>
          &nbsp;Import?&nbsp;
        </th>
    </tr>
    <% titles = {}
    dupes  = 0
    @import.tasks.each do | task |
      if ( titles[ task.title ] == true )
         dupes += 1
         titles[ task.title ] = dupes
      elsif ( titles[ task.title ].nil? )
         titles[ task.title ] = true
      end
    end
    index = -1
    @import.tasks.each do | task |
    index += 1 -%>
    <tr valign="top" align="center" class="<%= cycle( 'even', 'odd' ) -%>">
        <td>
            <%= hidden_field_tag( "import[tasks][#{ index }][uid]", h( task.uid ) ) %>
            <%= hidden_field_tag( "import[tasks][#{ index }][level]", h( task.level ) ) %>
	    	<%= hidden_field_tag( "import[tasks][#{ index }][outnum]", h( task.outnum ) ) %>
	    	<%= hidden_field_tag( "import[tasks][#{ index }][outlinenumber]", h( task.outlinenumber ) ) %>
	    	<%= hidden_field_tag( "import[tasks][#{ index }][duration]", h( task.duration ) ) %>
	    	<%= hidden_field_tag( "import[tasks][#{ index }][notes]", h( task.notes ) ) %>
            <%= h( task.uid ) %>
        </td>
        <td>
          <%= titles[ task.title ] != true ? "<span class=\"dup\">#{ titles[ task.title] }:</span>" : '&nbsp;' %>
        </td>
        <td align="left" class="task_title">
            <%= h( task.outlinenumber ) %>
            <%= text_field_tag( "import[tasks][#{ index }][title]", h( task.title ), { :size => 50, :class => 'task_title' } ) %>
        </td>
	<td align="left">
            <%= loaderhelp_tracker_selector( "import[tasks][#{ index }][tracker_id]", @project, task.tracker_name ) %>
        </td>
        <td align="left">
            <%= text_field_tag( "import[tasks][#{ index }][start]", h( task.start ), { :size => 10 } ) %>
        </td>
        <td align="left">
            <%= text_field_tag( "import[tasks][#{ index }][finish]", h( task.finish ), { :size => 10 } ) %>
        </td>
        <td align="left">
            <%= text_field_tag( "import[tasks][#{ index }][percentcomplete]", h( task.percentcomplete ), { :size => 3 } ) %>
        </td>
        <td>
            <%= loaderhelp_user_selector( "import[tasks][#{ index }][assigned_to]", @project, task.assigned_to ) %>
        </td>
        <td>
            <%= hidden_field_tag( "import[tasks][#{ index }][predecessors]", h( task.predecessors.join(', ') ) ) %>
            <%= h( task.predecessors.join(', ') ) %>
        </td>
        <td>
          <%= h(task.parent_uid) %>
          <%= hidden_field_tag( "import[tasks][#{ index }][parent_uid]", h( task.parent_uid )) %>
        </td>
        <td>
            <%= check_box_tag( "import[tasks][#{ index }][import]", '1', true, { :class => 'checkbox' } ) %>
        </td>
        <td>
            <%= hidden_field_tag( "import[tasks][#{ index }][delays]", h( task.delays.join(', ') ) ) %>
            <%= hidden_field_tag( "import[tasks][#{ index }][milestone]", h( task.milestone ) ) %>
        </td>
    </tr>
    <% end %>
    <tr>
        <td align="right" colspan="10">
            <script language="javascript" type="text/javascript">
                check_box_toggle_field('toggle_check_boxes', 'checkbox', 'Select tasks&nbsp;', '&nbsp;then');
            </script>
            <%= f.submit( 'Import selected tasks', { :name => 'import[import_selected]' } ) %>
        </td>
    </tr>
    <% if ( dupes > 0 ) %>
    <tr>
        <td align="right" colspan="5">
            <strong>Warning!</strong>
            Some task titles are identical. You need to rename them if importing. If you see a '500' Server error - you may have missed one.
        </td>
    </tr>
    <% end %>
</table>
<p>
    Alternatively, ignore the above tasks and analyse a different file:
</p>
<% end %>
<%= hidden_field_tag( "project_id", "#{@project.id}" ) %>
<%= f.file_field 'xmlfile' %>
<%= f.submit( 'Analyse', { :name => 'import[analyse]', :disable_with => 'Analysing...' } ) %>
<% end %>
<p>
    <%= link_to( 'Cancel and return home', home_path() ) %>
</p>

<h1><%= l(:export_tasks) %></h1>
<% form_for( :import, { :url => { :action => 'export' },  :html => { :id => 'import', :multipart => true } } ) do | f | %>
<p>
    Generate a XML file to export all our Redmine issues to MS Project.
</p>


<%= hidden_field_tag( "project_id", "#{@project.id}" ) %>
<%= f.submit( 'Export Issue', { :name => 'export'} ) %>


<% end %>
